/* Base styles for the About section */
.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom,#00A6D2, #0e7490 );
  padding: 3.125rem; /* 50px to rem */
  height: 100vh; /* Full screen height */
  perspective: 1200px; /* Add depth for 3D effect */
  overflow: hidden;
}

.about-content {
  display: flex;
  align-items: center;
  max-width: 62.5rem; /* 1000px to rem */
  color: white;
  transform-style: preserve-3d; /* Enables 3D transformations */
  transition: transform 1s ease-out;
}

.about-image {
  max-width: 18.75rem; /* 300px to rem */
  margin-right: 1.875rem; /* 30px to rem */
  transition: transform 0.6s ease-out;
  transform-origin: center center;
}

.about-text {
  max-width: 600px;
  margin-left: 0.2rem;
  opacity: 0; /* Initially invisible */
  transform: translateX(100px); /* Start position for smooth entrance */
  transition: transform 1s ease-out, opacity 1s ease-out;
}

/* Heading style */
.about-text h2 {
  font-size: 2.25rem; /* 36px to rem */
  font-weight: bold;
  margin-bottom: 1.25rem; /* 20px to rem */
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Paragraph text style */
.about-text p {
  font-size: 1.125rem; /* 18px to rem */
  line-height: 1.8;
  text-align: justify;
  letter-spacing: 0.5px;
}

/* Strong text for emphasis */
.about-text strong {
  font-weight: bold;
}

/* Mobile styling */
@media screen and (max-width: 768px) {

}
