/* @keyframes bounce {
  0%, 100% {
    transform: translateY(-5%);
  }
  50% {
    transform: translateY(5%);
  }
} */

/* .prize-card-3d {
  animation: bounce 2s infinite;
} */


.prizes-content {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}

.prize-item {
  text-align: center;
}

.prize-icons {
  margin-bottom: 10px;
}

.starfish {
  width: 40px;
  margin: 0 5px;
}

.starfish.special {
  width: 60px;
}

.prize-title {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.prize-amount {
  font-size: 18px;
}

.prize-description {
  font-size: 14px;
}

.background-whale {
  position: absolute;
  bottom: -50px;
  right: -50px;
  max-width: 300px;
  opacity: 0.8;
} 