.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* color: rgb(55, 112, 255); */
  cursor: pointer;
  margin-top: 1.5rem;
}

.apply-button {
  cursor: pointer;
  display: flex;
  width: 25rem;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #3770ff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.apply-button:hover {
  transform: translateY(-2px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

.discord-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #5865f2;
  color: #ffffff;
  padding: 0.5rem 1.5rem;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.discord-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}