.highlights-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom,#00A6D2, #014EB6 );
    padding: 50px;
    height: 100vh; /* Full screen height */
  }
  
  .highlights-content {
    position: relative;
    color: white;
    max-width: 800px;
  }
  
  h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  ul {
    list-style-type: disc;
    padding-left: 20px;
    line-height: 2;
  }
  
  li {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  li strong {
    font-weight: bold;
  }
  
  .highlights-image {
    position: absolute;
    bottom: -50px;
    right: -50px;
    max-width: 200px;
    opacity: 0.8;
  }
  