/* Base styles for the Event Highlights section */
.highlights-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0e7490 ;
  padding: 3.125rem; /* 50px to rem */
  height: 100vh; /* Full screen height */
  perspective: 1200px; /* Add depth for 3D effect */
  /* overflow: hidden; */
}

.highlights-content {
  display: flex;
  align-items: center;
  max-width: 62.5rem; /* 1000px to rem */
  color: white;
  /* transform-style: preserve-3d; */ /* Enables 3D transformations */
  /* transition: transform 1s ease-out; */
}

.highlights-text {
  max-width: 600px;
  margin-right: 1.875rem; /* Added margin on right side */
  opacity: 1; /* Ensure the text is fully visible */
  /* transform: translateX(0); */ /* Remove the initial offset for smooth entry */
  /* transition: transform 2s ease-out, opacity 1s ease-out; */
}

/* Heading style */
.highlights-text h2 {
  font-size: 2.25rem; /* 36px to rem */
  font-weight: bold;
  margin-bottom: 1.25rem; /* 20px to rem */
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Paragraph text style */
.highlights-text ul {
  font-size: 1.125rem; /* 18px to rem */
  line-height: 1.8;
  letter-spacing: 0.5px;
  list-style: none;
  padding-left: 0;
}

.highlights-text li {
  margin-bottom: 1rem;
}

/* Strong text for emphasis */
.highlights-text strong {
  font-weight: bold;
}

.highlights-image {
  max-width: 18.75rem; /* 300px to rem */
  /* transition: transform 0.6s ease-out; */
  /* transform-origin: center center; */
  margin-left: 1.875rem; /* Added margin on left side */
}

/* Mobile styling */
@media screen and (max-width: 768px) {
  .highlights-content {
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex-direction: column;
    /* padding-bottom: 25rem; */
    text-align: center;
    /* transform: translateZ(0); */ /* Ensure proper 3D rendering */
  }

  .highlights-text {
    text-align: center;
    opacity: 1; /* Ensure the text is fully visible */
    /* transform: translateX(0); */ /* Remove the initial offset for smooth entry */
    /* transition: none; */ /* Disable the animation on mobile */
  }

  .highlights-image {
    display: none; /* Hide images on mobile */
  }

  .Heading {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.25rem;
    text-align: center;
    color: tomato;
  }
}

@media screen and (max-width: 780px) {
  .highlights-text{
    text-align: center;
  }
  .highlights-text h2{
    font-size: 2rem;
    font-family: 'Ghr4';
    /* transform: none; */
    /* transition: none; */
  }
  .highlights-text ul li {
    font-size: 0.75rem;
  }

  .highlights-image {
    display: none; 
  }
}
