.faq-container {
    font-family: Ghr4;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
   
  }
.cursor2{
  cursor: url('../Hover.png'), auto;
}
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #4800ff;
  }
  
  .faq-list {
    list-style-type: none;
    padding: 0;
  }
  
  .faq-item {
    margin-bottom: 10px;
    border-bottom: 1px solid #ffffff;
    padding: 10px 0;
  }
  
  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    padding: 0;
  }
  
  .faq-answer {
    margin-top: 10px;
    font-size: 14px;
    color: #ffffff;
  }
  
  .icon {
    font-weight: bold;
  }
  
  .open .faq-question {
    color:#4800ff;;
  }

  @media screen and (max-width: 600px) {
    .faq-container {
      padding: 50px;
    }
  
    .faq-container h1 {
      font-size: 24px;
    }
  
    .faq-question {
      font-size: 18px;
    }
  
    .faq-answer {
      font-size: 18px;
    }
    
  }