.Footer {
  background-blend-mode: multiply;
}

.Bagckground1{
background-image: url("../assets/images/Coral.png");

  }
  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .footer-about,
  .footer-links,
  .footer-contact {
    flex: 1;
    width: 20rem;

  
  }
  
  .footer-logo {
    max-width: 150px;
    margin-bottom: 10px;
  }
  
  .footer-about p {
    font-size: 0.75rem;
    line-height: 1.5;
  }
  
  .footer-links h3 {
    margin-bottom: 10px;
    color: white;
    font-size: 25px;
  }

  .footer-links ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-links ul li {
    margin-bottom: 5px;
  }
  
  .footer-links ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.15rem;
    transition:0.3s ease-in-out;
  }
  
  .footer-links ul li a:hover {
    color: #895ff3;
    font-size: 1.25rem;
    transition: 0.5s ease-in-out;
  }
  
  .footer-contact p {
    font-size: 15px;
    line-height: 1.5;
  }
  .footer-about h1 {
    margin-bottom: 10px;
    color: white;
    font-size: 2.25rem;
  }

  
  .footer-socials a {
    color: white;
    font-size: 20px;
    margin-right: 10px;
    transition: color 0.3s;
    text-decoration: none;
  }
  
  .footer-socials a:hover {
    color: #5731ff;    
  }
  .UseFull{
    /* width: 1rem; */
    text-align: center;
    font-size: 2rem;
  }