@media screen and (max-width: 768px) {
    .background {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* padding: 0 30px; */
        /* height: 100vh; */
        width: 100%;
    }
.Banner{
    width: 100%;
    height: 6rem;
}
    .Date{
        height: auto;
        width: 10rem;
    }
}