/* InfiniteSlider.css */
.slider-container {
  width: 100%;
  overflow: hidden;
}

.slider {
  display: flex;
  animation: slide 15s linear infinite;
}

.slide {
  min-width: 100%;
  transition: transform 0.5s ease;
}

img {
  width: 10rem;
  /* height: auto; */
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
