/* Styles/Navbar.css */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
}



.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color: #ecf0f1; /* Light gray text */
  font-size: 0.8rem;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
  color: #895ff3; /* Orange hover effect */
  cursor: url('../Hover.png'),pointer;
}

.theme-toggle {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: #ecf0f1;
  background-color: #5212f3; /* Orange button background */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.theme-toggle a {
  color: inherit;
  text-decoration: none;
}
#Btn:hover{
box-shadow: 1px 5px 1px rgba(0, 0, 0, 0.6);

}

@media screen and (max-width: 768px) {
  .nav-links a {
  
    display: none;
  }
  .Logo{
      width: 4rem;
  }
  #Btn {
    transition: background-color 0.3s ease-in-out; ;
  }
  .Menu{
    height: auto;
  
  }
}