.Team{
    background:linear-gradient(to bottom,#014EB6,#011947);
}
/* Team Section Styles */
.team-section {
    display: grid;
    grid-column: 4;
    background-color: #000; /* Adjust as needed */
    text-align: center;
  }
  
  .team-title {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 30px;
    /* border-bottom: 3px solid #00c4ff; */
    display: inline-block;
    padding-bottom: 5px;
  }
  
  .team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 1rem 10rem ;
  }
  
  .team-card {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    width: 230px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
  }
  
  .team-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }
  
  .team-photo {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .team-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10px 0 5px;
  }
  
  .team-role {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 15px;
  }
  
  .linkedin-link {
    text-decoration: none;
    color: #0077b5;
  }
  
  .linkedin-icon {
    width: 20px;
    height: 20px;
  }
  

  @media screen and (max-width: 768px) {
    .team-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 0.5rem;
      padding: 1rem 0.5rem;
    }
    
.team-section{
  padding: 0.25rem 0.25rem;
}
    .team-card {
      flex: 1 1 calc(33.333% - 1rem);
      max-width: calc(33.333% - 1rem);
      padding: 0.25rem;
    }
    .team-photo{
      width: 10rem;
      height: 8rem;
    }
    
    .LinkedIn{
      width: 1rem;
      height: 1rem;
    }
  .team-name {
    font-size: 0.75rem;
  }
  .team-role {
    font-size: 0.5rem;
  }
    
  }