@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  /* background-color: #00A6D2; */
  color: white;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

}



@font-face {
  font-family: 'Ghr1';
  src: url('./Fonts/Ghr1.woff2') format('woff2');
}
@font-face {
  font-family: 'Ghr2';
  src: url('./Fonts/Ghr2.woff2') format('woff2');
}@font-face {
  font-family: 'Ghr3';
  src: url('./Fonts/Ghr3.woff2') format('woff2');
}@font-face {
  font-family: 'Ghr4';
  src: url('./Fonts/Righteous-Regular.ttf');
}@font-face {
  font-family: 'Ghr5';
  src: url('./Fonts/Ghr5.woff2') format('woff2');
}
@font-face {
  font-family: 'Ghr6';
  src: url('./Fonts/Ghr6.woff2') format('woff2');
}